body{font-family:'Lato', sans-serif}
.navbar .navbar-nav .menu-item .sub-menu a:before{font-family:'FontAwesome'}
body{color:#333333;font-size:18px}
a{text-decoration:none}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{font-weight:700}
.h1, h1{font-size:30px}
.h2, h2{font-size:26px}
.h3, h3{font-size:22px}
.h4, h4{font-size:18px}
.h5, h5{font-size:16px}
.h6, h6{font-size:14px}
.mb20{margin-bottom:20px}
a,.smooth,#section-offer .title-offer,#section-blog .unit .unit-feature:after,.post-feature:after,.gallery-preview:before,.gallery-preview:after{-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}
a:visited,a:hover,a:active,a:focus{text-decoration:none}
.hidden-link{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;filter:alpha(opacity=0)}
.form-control.form-quiz{display:inline-block}
.w90{width:90px}
.alignleft{float:left;margin:0.5em 1em 0.5em 0}
.alignright{float:right;margin:0.5em 0 0.5em 1em}
.aligncenter{display:block;margin-left:auto;margin-right:auto}
.screen-reader-text{display:none}
.embed-responsive-350:before{padding-top:350px}
.se-pre-con{position:fixed;left:0px;top:0px;width:100%;height:100%;z-index:99999} 
.se-pre-con > *{position:fixed;top:50%;left:0;right:0;margin:0 auto;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%)}
.scrollup{opacity:0.3;position:fixed;bottom:100px;right:50px;display:none;z-index:99999}
.title-wrapper{margin-bottom:30px;text-align:center}
.title{font-size:45px;font-weight:700;margin-bottom:0;display:inline-block}
.title:before{content:url('../images/title-before.png');vertical-align:middle;width:54px;height:52px;margin-right:10px}
#section-contact .title:before,#section-testimonial .title:before{content:url('../images/title-before-white.png')}
.breadcrumb{background-color:transparent;margin-bottom:0;padding:0}
.breadcrumb li+li:before{display:inline-block;content:'/';margin:0 5px}
.pagination{-webkit-box-pack:center!important;-ms-flex-pack:center!important;justify-content:center!important;margin-bottom:20px}
.pagination .page-numbers{color:#000000;display:inline-block;text-align:center;min-width:30px;line-height:30px;text-decoration:none;border-radius:30px}
.pagination .page-numbers.current,.pagination .page-numbers:hover{color:#ffffff;background-color:#1f9ebc}
.pagination .page-numbers.dots{background-color:transparent!important;color:#000000}
.navbar{padding:0}
.navbar .navbar-nav .menu-item{position:relative}
.navbar .navbar-nav .menu-item a{display:inline-block;padding:.5rem;color:#000000}
.navbar .navbar-nav > .menu-item{border-top:1px solid transparent;border-bottom:1px solid transparent}
.navbar .navbar-nav > .menu-item.current-menu-item ,.navbar .navbar-nav > .menu-item.current-menu-ancestor{border-color:#1f9ebc;font-weight:700}
.navbar .navbar-nav > .menu-item.current-menu-item > a,.navbar .navbar-nav > .menu-item.current-menu-ancestor > a{color:#1f9ebc}
.navbar .navbar-nav .menu-item.menu-item-has-children .drop_down_icon{float:right;cursor:pointer;line-height:40px}
.navbar-brand{flex:0 0 auto;width:auto;max-width:100%;padding-top:0;padding-bottom:0}
.sub-menu{top:100%;left:0;z-index:1000;display:none;float:left;min-width:10rem;padding:25px 18px;margin:0;font-size:1rem;color:#212529;text-align:left;list-style:none;background-color:#239fbd;background-clip:padding-box;border:1px solid rgba(0,0,0,.15);border-radius:0;min-width:100%} 
.navbar .navbar-nav .menu-item .sub-menu a{display:block;white-space:nowrap;padding:8px 15px;color:#ffffff} 
.navbar .navbar-nav .menu-item .sub-menu a:before{content:"\f105";margin-right:5px} 
/* current-menu-parent current_page_parent current_page_ancestor*/
.navbar .navbar-nav .menu-item .sub-menu li.current-menu-item > a,.navbar .navbar-nav .menu-item .sub-menu li:hover a{background-color:#333333} 
section,footer,#footer{position:relative}
#main-header{-webkit-box-shadow:0px 2px 5px 0px rgba(0,0,0,0.75);-moz-box-shadow:0px 2px 5px 0px rgba(0,0,0,0.75);box-shadow:0px 2px 5px 0px rgba(0,0,0,0.75)}
#section-banner{overflow:hidden}
#section-banner .wrapper{background-position:center center;background-repeat:no-repeat;background-size:cover}
#section-banner .wrapper img{width:100%;height:auto}
#section-banner .static-banner .banner-text, #section-banner .owl-carousel .active .banner-text{-webkit-animation-name:fadeInRightBig;-webkit-animation-duration:1s;-webkit-animation-iteration-count:1;animation-name:fadeInRightBig;animation-duration:1s;animation-iteration-count:1}
#section-banner .static-banner .img-banner, #section-banner .owl-carousel .active .img-banner{-webkit-animation-name:fadeInRightBig;-webkit-animation-duration:1s;-webkit-animation-iteration-count:1;animation-name:fadeInRightBig;animation-duration:1s;animation-iteration-count:1}
#section-banner .banner-text{padding:11.4vw 0}
#section-banner .banner-text .banner-title{font-size:54px;font-weight:900;margin-bottom:15px}
#section-banner .banner-text .banner-title:after{content:'';display:block;width:96px;height:2px;background-color:#ffffff;margin-top:30px}
#section-banner .banner-text .btn-banner{background-color:#333333;font-size:20px;font-weight:700;color:#ffffff;padding:14px 20px}
#page-title{overflow:hidden;text-align:center}
#page-title .content-wrap{position:relative}
#page-title .shortcode-output,#page-title .video-output{position:absolute;left:0;top:0;width:100%;height:100%}
#page-title .video-output video{width:100%}
#page-title .heading{font-size:50px;font-weight:900}

#section-about .con-wrap{padding-right:8.3vw;padding-left:30px}
#section-about .title-wrapper{text-align:left}
#section-about .title span{display:block;font-weight:300}
#section-about .title:before{display:none}
#section-about .img-about{border-top-right-radius:240px;border-bottom-right-radius:240px;-webkit-box-shadow:0px 0px 0px 10px rgba(0,0,0,0.05);box-shadow:0px 0px 0px 10px rgba(0,0,0,0.05)}
#section-about .btn-about{color:#ffffff;padding:12px 30px;background-color:#886bdf}

#section-offer .img-offer{border-radius:100%;-webkit-box-shadow:0px 0px 0px 10px rgba(41,190,217,0.15);box-shadow:0px 0px 0px 10px rgba(41,190,217,0.15);margin-bottom:40px}
#section-offer .title-offer{font-size:30px;font-weight:700}
#section-offer .unit:hover .title-offer{color:#19bcdb}

#section-contact .form-group{margin-bottom:10px}
#section-contact .form-control{height:50px}
#section-contact textarea.form-control{height:auto}
#section-contact .form-control,#section-contact .quiz-wrapper{background-color:rgba(255,255,255,.1);color:#ffffff}
#section-contact ::-webkit-input-placeholder{ /* Chrome/Opera/Safari */ color:#ffffff}
#section-contact ::-moz-placeholder{ /* Firefox 19+ */ color:#ffffff}
#section-contact :-ms-input-placeholder{ /* IE 10+ */ color:#ffffff}
#section-contact :-moz-placeholder{ /* Firefox 18- */ color:#ffffff}
#section-contact .quiz-wrapper{border:1px solid #ced4da}
#section-contact .quiz-wrapper label{margin-bottom:0}
#section-contact .form-control.form-quiz{width:40px;height:40px;display:inline-block;vertical-align:middle;background-color:#ffffff;color:#000000;text-align:center;margin-top:4px;margin-bottom:4px}
#section-contact .btn-form{height:50px;border-radius:0;font-weight:700;font-size:25px;color:#ffffff;background-color:#886bdf}
#section-contact .ajax-loader{position:absolute;right:17px;top:17px;color:#ffffff}

#section-testimonial .title-wrapper{position:relative}
#section-testimonial .title-wrapper:before{content:'';width:9999px;height:1px;background-color:#ffffff}
#section-testimonial .shortcode-wrapper{padding-left:4.9vw;padding-right:4.9vw}
.testimonial-title{font-size:20px;font-weight:700}
#section-testimonial .testimonial-desc:before{content:url('../images/quote.png');display:block;margin-left:auto;margin-right:auto;margin-bottom:30px;width:48px;height:40px}
#section-testimonial .testimonial-designation{font-weight:300}
#section-testimonial .owl-nav{display:none}
#section-testimonial .owl-theme .owl-dots{margin-top:40px}
#section-testimonial .owl-theme .owl-dots .owl-dot span{background-color:#ffffff}
#section-testimonial .owl-theme .owl-dots .owl-dot.active span, #section-testimonial .owl-theme .owl-dots .owl-dot:hover span{background-color:#000000}

#section-find .link-wrapper{padding:30px;background-color:#f1f2f2}
#section-find .btn-find{font-size:35px;font-weight:700;color:#886bdf;background-color:transparent;border:2px solid #886bdf;padding:13px;width:100%;max-width:410px}
#section-find .btn-find:before{content:url('../images/find-a-store.png');vertical-align:middle;margin-right:10px}

#section-blog .unit-meta{margin-top:20px;margin-bottom:20px}
#section-blog .unit-title{font-size:22px;font-weight:700}
#section-blog .unit .unit-feature{position:relative}
#section-blog .unit .unit-feature:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(31,158,188,.5);opacity:0;filter:alpha(opacity=0)}
#section-blog .unit:hover .unit-feature:after{opacity:1;filter:alpha(opacity=100)}


#section-why .unit-number{display:block;font-size:35px;color:#ffffff;background-color:#19bcdb;width:63px;line-height:63px;text-align:center;border-radius:100%;-webkit-box-shadow:0px 0px 0px 5px rgba(0,0,0,0.05);box-shadow:0px 0px 0px 5px rgba(0,0,0,0.05)}
#section-why .unit-title{font-size:20px;font-weight:700}
#section-why .why-btn-wrap{padding-top:10px;margin-top:6.25vw}
#section-why .btn-why{
color:#ffffff;font-size:35px;font-weight:700;
-webkit-box-shadow:0px 0px 0px 10px rgba(0,0,0,0.05);
box-shadow:0px 0px 0px 10px rgba(0,0,0,0.05);
border-radius:0;
padding-top:38px;padding-bottom:38px;
/* Permalink - use to edit and share this gradient:https://colorzilla.com/gradient-editor/#333333+0,646464+50,333333+100 */
background:#333333;/* Old browsers */
background:-moz-linear-gradient(top,  #333333 0%, #646464 50%, #333333 100%);/* FF3.6-15 */
background:-webkit-linear-gradient(top,  #333333 0%,#646464 50%,#333333 100%);/* Chrome10-25,Safari5.1-6 */
background:linear-gradient(to bottom,  #333333 0%,#646464 50%,#333333 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 );/* IE6-9 */
}
.post-header{font-size:22px}
.post-meta{font-size:16px}
.post-feature:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(236,92,66,.5);opacity:0;filter:alpha(opacity=0)}
.post-unit:hover .post-feature:after{opacity:1;filter:alpha(opacity=100)}
.info-unit{-webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.07);box-shadow:0px 0px 20px 0px rgba(0,0,0,0.07)}
.info-unit .wrapper{padding:4.6875vw}
.info-unit .address-wrap,.info-unit .phone-number-wrap,.info-unit .email-wrap{display:table;width:100%;margin-bottom:30px}
.info-unit .address-wrap a,.info-unit .phone-number-wrap a,.info-unit .email-wrap a{color:#333333}
.info-unit .phone-number-wrap a{font-size:20px}
.info-unit .address-wrap:before,.info-unit .phone-number-wrap:before,.info-unit .email-wrap:before{content:'';display:table-cell;width:60px;height:50px;background-repeat:no-repeat;background-position:left center;background-size:50px 50px}
.info-unit .address-wrap:before{background-image:url('../images/location.png')}
.info-unit .phone-number-wrap:before{background-image:url('../images/phone.png')}
.info-unit .email-wrap:before{background-image:url('../images/email.png')}
.info-unit .address-wrap>span,.info-unit .phone-number-wrap>span,.info-unit .email-wrap>span{display:table-cell;vertical-align:middle}
.info-unit .social-list a{width:35px;line-height:35px;border-radius:35px;background-color:#f1f1f2;color:#19bcdb;display:block;text-align:center}
.info-unit .social-list a:hover{color:#f1f1f2;background-color:#19bcdb}
.form-unit{background-color:#f7f7f7;padding:5px}
.form-unit .form-title{text-align:center;background-color:#1f9ebc;color:#ffffff;font-size:25px;font-weight:700;padding-top:30px;margin-bottom:50px}
.form-unit .form-title:after{content:"";clip-path:polygon(50% 100%, 0 0, 100% 0);background-color:#1f9ebc;height:30px;width:100%;display:block;position:absolute;bottom:-30px}
.form-unit .form-wrap{padding-left:30px;padding-right:30px;padding-bottom:30px}
.form-unit .form-control{background-color:transparent;border-style:none;border-bottom-style:solid}
.form-unit label{display:block}
.form-unit .btn-form{background-color:#333333;font-weight:700;font-size:20;color:#ffffff}
.form-unit .ajax-loader{position:absolute;right:15px;top:12px}

[id^="mos-faq-"].mos-faq-container .mos-faq-unit .mos-faq-title > a{border-bottom:1px solid #f1f2f2}
[id^="mos-faq-"].mos-faq-container .mos-faq-unit.opened .mos-faq-title > a,[id^="mos-faq-"].mos-faq-container .mos-faq-unit .mos-faq-title > a:hover{border-bottom-color:#1f9ebc}
.gallery-preview:before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(31,158,188,.5)}
.gallery-preview:after{content:url('../images/gallery-zoom.png');position:absolute;display:block;margin:-51px auto 0;left:0;right:0;top:50%;width:103px;height:103px}
.gallery-preview:before,.gallery-preview:after{opacity:0;filter:alpha(opacity=0)}
.gallery-preview:hover:before,.gallery-preview:hover:after{opacity:1;filter:alpha(opacity=100)}
.galleryHolder{text-align:center;margin-top:20px}
.galleryHolder a,.galleryHolder span{min-width:30px;line-height:30px;border-radius:30px;color:#333333;display:inline-block;margin-right:3px;margin-left:3px;cursor:pointer}
.galleryHolder a.jp-current{background-color:#1f9ebc;color:#ffffff}
.services .unit-title{font-size:25px}
.services .unit-desc{margin-bottom:20px}
.services .btn-service{background-color:#f5f5f5;color:#000000}
.services .btn-service:hover{background-color:#ec5c42;color:#ffffff}

.page-testimonials .testimonial-unit{border-bottom:1px solid #f1f2f2;padding-bottom:30px;margin-bottom:30px}
.page-testimonials .testimonial-unit:before{content:url('../images/testimonial-quote.png');width:24px;height:20px;display:block;margin-bottom:8px}
.page-testimonials .testimonial-unit .testimonial-designation{padding-left:40px;font-weight:300}
.main-grid{display:grid;grid-template-columns:repeat(12, 1fr);margin:0 auto;width:100%} 
.main-grid.gap-30{grid-gap:30px}
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve{grid-column-end:span 12}
.nested{display:grid;grid-gap:10px;grid-template-columns:repeat(12, 1fr)}
.merge-two-rows{ grid-row-end:span 2 }
.merge-three-rows{ grid-row-end:span 3 }
.merge-four-rows{ grid-row-end:span 4 }
.merge-five-rows{ grid-row-end:span 5 }
.merge-six-rows{ grid-row-end:span 6 }


#comments-list .media-list{padding-left:0}
#comments-list .media-list .comment{list-style:none}
#comments-list .media-list .comment .comment-content{padding-left:15px}

.widget ul{list-style:none;padding-left:0}
.widget ul li{}
.widget ul li a{}
.widget ul li ul{}
#wp-calendar{width:100%}
#wp-calendar thead tr th{border:1px solid #000000;text-align:center}
#wp-calendar tbody tr td{background-color:rgba(0,0,0,.5);color:#ffffff;text-align:center}
.widget input[type="text"],
/* .widget input[type="search"],
.widget input[type="radio"],
/*.widget input[type="checkbox"],*/
.widget input[type="tel"],.widget input[type="time"],.widget input[type="url"],.widget input[type="week"],.widget input[type="password"],.widget input[type="color"],.widget input[type="date"],.widget input[type="datetime"],.widget input[type="datetime-local"],.widget input[type="email"],.widget input[type="month"],.widget input[type="number"],.widget select,.widget textarea{display:block;width:100%;height:calc(1.5em + .75rem + 2px);padding:.375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out}
.input-group-btn{margin-left:-3px}
.btn-search{border:1px solid #ced4da;border-left-style:none} 
#footer{font-weight:300}
#footer .address-wrap:before,#footer .phone-number-wrap:before,#footer .email-wrap:before{width:50px;height:50px;display:block;margin-left:auto;margin-right:auto;margin-bottom:10px}

#footer .address-wrap:before{content:url('../images/location.png')}
#footer .phone-number-wrap:before{content:url('../images/phone.png')}
#footer .email-wrap:before{content:url('../images/email.png')}
#footer .phone-number-wrap a{font-size:20px;font-weight:400}
#footer .footer-menu{padding:0;margin:0;list-style:none;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;justify-content:space-between}
#footer .footer-menu li{position:relative}
#footer .footer-menu li + li:before{content:"|";position:absolute;left:-53px;top:0;height:100%}
#footer .copywrite{font-size:15px}
#footer .copywrite .theme-credit{font-weight:700;color:#1f9ebc;text-decoration:underline}
#footer .social-menu{margin-bottom:0}
#footer .social-menu li a{display:block;width:37px;line-height:37px;border-radius:100%;background-color:#f1f1f2;color:#1f9ebc;text-align:center}
#footer .social-menu li a:hover{color:#f1f1f2;background-color:#1f9ebc}




/*Small devices (landscape phones,576px and up)*/
@media (min-width:576px){
    .one{ grid-column-end:span 1 }
    .two{ grid-column-end:span 2 }
    .three{ grid-column-end:span 3 }
    .four{ grid-column-end:span 4 }
    .five{ grid-column-end:span 5 }
    .six{ grid-column-end:span 6 }
    .seven{ grid-column-end:span 7 }
    .eight{ grid-column-end:span 8 }
    .nine{ grid-column-end:span 9 }
    .ten{ grid-column-end:span 10 }
    .eleven{ grid-column-end:span 11 }
}
/* Medium devices (tablets,768px and up) */
@media (min-width:768px){}

/* Large devices (desktops,992px and up) */
@media (min-width:992px){
	body{padding-top:87px}
	#main-header{position:fixed;top:0;z-index:1020;width:100%}
    .sub-menu{position:absolute}
    .navbar-nav.ml-auto .sub-menu{left:auto;right:0}
    .navbar-nav .menu-item-has-children:hover > .sub-menu{display:block} 
}

/* Extra large devices (large desktops,1200px and up) */
@media (min-width:1200px){}

/*--------------------------------------------------------------------------------------------------------------*/
/* Large devices (desktops,less than 1200px) */
@media (max-width:1199.98px){
	.navbar .navbar-nav .menu-item a{font-size:16px}
}

/* Medium devices (tablets,less than 992px) */
@media (max-width:991.98px){
	.aligncenter,.alignleft,.alignright{display:block;margin-left:auto;margin-right:auto;float:none}
    /*#main-header{max-height:100%;overflow:scroll}*/
    #section-about .img-about{border-radius:240px;margin-left:auto;margin-right:auto;display:block;margin-bottom:30px}
    #section-about .con-wrap{padding:0 8.3vw} 
    #section-why .img-why{display:block;margin-left:auto;margin-right:auto;margin-bottom:30px}
    #section-blog .unit .unit-feature img{width:100%;height:auto}
    #footer .footer-menu li + li:before{left:-16px}
    .navbar .navbar-nav .menu-item a{display:block}    
    .navbar .navbar-nav .menu-item.menu-item-has-children .drop_down_icon{border:1px solid #000;width:42px;text-align:center;padding:0}
}

/* Small devices (landscape phones,less than 768px) */
@media (max-width:767.98px){
	#section-banner .banner-text .banner-title,.title,#page-title .heading{font-size:30px}
	#section-why .btn-why,#section-find .btn-find,#section-offer .title-offer{font-size:26px}
    #footer .footer-menu{flex-direction:column}
    #footer .footer-menu li{text-align:center}
    #footer .footer-menu li a{display:block}
    #footer .footer-menu li + li:before{display:none}
}

/* Extra small devices (portrait phones,less than 576px) */
@media (max-width:575.98px){}