@font-face {
	font-family: 'Lato';
	src: url('Lato/Lato-Thin.eot');
	src: url('Lato/Lato-Thin.eot') format('embedded-opentype'), url('Lato/Lato-Thin.ttf') format('truetype'), url('Lato/Lato-Thin.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('Lato/Lato-Thin.eot');
	src: url('Lato/Lato-Thin.eot') format('embedded-opentype'), url('Lato/Lato-Thin.ttf') format('truetype'), url('Lato/Lato-Thin.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('Lato/Lato-Light.eot');
	src: url('Lato/Lato-Light.eot') format('embedded-opentype'), url('Lato/Lato-Light.ttf') format('truetype'), url('Lato/Lato-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('Lato/Lato-LightItalic.eot');
	src: url('Lato/Lato-LightItalic.eot') format('embedded-opentype'), url('Lato/Lato-LightItalic.ttf') format('truetype'), url('Lato/Lato-LightItalic.svg') format('svg');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Lato';
	src: url('Lato/Lato-Regular.eot');
	src: url('Lato/Lato-Regular.eot') format('embedded-opentype'), url('Lato/Lato-Regular.ttf') format('truetype'), url('Lato/Lato-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('Lato/Lato-Italic.eot');
	src: url('Lato/Lato-Italic.eot') format('embedded-opentype'), url('Lato/Lato-Italic.ttf') format('truetype'), url('Lato/Lato-Italic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('Lato/Lato-Bold.eot');
	src: url('Lato/Lato-Bold.eot') format('embedded-opentype'), url('Lato/Lato-Bold.ttf') format('truetype'), url('Lato/Lato-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('Lato/Lato-BoldItalic.eot');
	src: url('Lato/Lato-BoldItalic.eot') format('embedded-opentype'), url('Lato/Lato-BoldItalic.ttf') format('truetype'), url('Lato/Lato-BoldItalic.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Lato';
	src: url('Lato/Lato-Black.eot');
	src: url('Lato/Lato-Black.eot') format('embedded-opentype'), url('Lato/Lato-Black.ttf') format('truetype'), url('Lato/Lato-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('Lato/Lato-BlackItalic.eot');
	src: url('Lato/Lato-BlackItalic.eot') format('embedded-opentype'), url('Lato/Lato-BlackItalic.ttf') format('truetype'), url('Lato/Lato-BlackItalic.svg') format('svg');
	font-weight: 900;
	font-style: italic;
}